@page "/crust"
@rendermode InteractiveServer

<label>
    <input type="checkbox" @bind='pizza.PizzaCrust.thinCrust' />
    Thin Crust
</label>

<label>
    <input type="checkbox" @bind='pizza.PizzaCrust.panCrust' />
    Pan Crust
</label>

<label>
    <input type="checkbox" @bind='pizza.PizzaCrust.handTossed' />
    Hand Tossed
</label>

<p>Selected Crust:</p>
<ul>
    @if (pizza.PizzaCrust.thinCrust)
    {
        <li>Thin Crust - $5.99</li>
    }
    @if (pizza.PizzaCrust.panCrust)
    {
        <li>Pan Crust - $7.99</li>
    }
    @if (pizza.PizzaCrust.handTossed)
    {
        <li>Hand Tossed - $6.99</li>
    }
</ul>


@code {
    [Parameter]
    public Pizza pizza { get; set; }
}
